<html>
    <head>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        <h4>Dear Coordinator,</h4>

        <p>Please send the courier as detailed below:</p>

        <ul>
            <li>Courier to: {{toName}}</li>
            <li>Organization Name: {{toOrg}}</li>
            <li>Address: {{toAddr}}</li>
            <li>Pin Code: {{toPin}}</li>
            <li>Mob No.: {{toMobile}}</li>
            <li>Courier from: {{fromName}}</li>
            <li>Expected Delivery Date: {{delDate}}</li>
            <li>Dispatch Urgency: {{urgency}}</li>
        </ul>

        <p>Please find the soft copy of the documents attached.</p>

        <p>
            Also, update the
            <a href="{{dispatch_link}}">courier dispatch form</a>, when the courier has been sent.
        </p>

        <p>
            <b>Regards,</b><br />
            {{from_name}}
        </p>
    </body>
</html>