<div>

    <p>Dear {{fromName}},</p>

    <p>The courier given by you has been couriered, the details are as follows.</p>
    <ul>
        <li>Courier Request No.: {{id}}</li>
        <li>Courier Provider: {{courierProvider}}</li>
        <li>Pickup date and time: {{pickupDateTime}}</li>
        <li>Docket No.: {{docketNo}}</li>
    </ul>
    <p>The Docket slip against the tender has been attached with the mail.</p>
    <p>
        <b>Regards,</b><br />
        {{coordinatorName}}
    </p>
</div>