<div>
    <p>Dear Accounts Team,</p>

    <p>
        Please make the following payment via NEFT/RTGS against <strong>{{data.paymentInstrumentType}}</strong> for:
    </p>
    {{#if data.tenderNo}} 
        <p>Tender No: {{data.tenderNo}}</p>
    {{/if}}
    {{#if data.tenderName}} 
        <p>Project Name: {{data.tenderName}}</p>
    {{/if}}
    {{#if data.dueDateTime}} 
        <p>Due Date and Time: {{data.dueDateTime}}</p>
    {{/if}}

    <p>Please do the Maker using the details below:</p>
    <ul>
        <li>Account Name: {{data.btAccName}}</li>
        <li>Account Number: {{data.btAcc}}</li>
        <li>IFSC Code: {{data.btIfsc}}</li>
        <li>Amount: Rs. {{data.amount}}</li>
    </ul>
    <p>
        Please do the payment before the due date and time and share the UTR with us on time using the
        <a href="{{data.link}}">link</a>.
    </p>
    <p>"Ensuring timely operations is the only source of growth"</p>
    <p>
        Approved by,<br>
        {{data.tlName}}
    </p>
</div>
