<div>
    <p>Dear {{data.tl_name}},</p>

    <p>
        The tender {{data.tender_name}} has been moved to </b>did not bid<b> from <b>{{data.from_status_name}}</b>. 
    </p>

    <p>Reason for not bidding the tender:</p>
    <p><b>{{data.reason}}</b></p>

    <p>"We learn from our mistakes and move ahead"</p>

    <p>Best Regards,<br />{{data.te_name}}</p>
</div>
