<div>
    <p>Dear Accounts team,</p>

    <p>Please prepare the following cheque.</p>
    <p>The purpose of the cheque is {{data.purpose}},</p>

    <p>Please prepare the cheque using the details below:</p>
    <ul>
        <li>Party Name: {{data.partyName}}</li>
        <li>Cheque Date: {{data.chequeDate}}</li>
        <li>Amount: Rs. {{data.amount}}</li>
    </ul>
    <p>This cheque is required within 3 Hrs.</p>

    <p>
        Please make the cheque within the time limit and share the Soft copy of the cheque and <br /> receiving (Format attached) with Sunil on time using the <a href="{{data.link}}">link</a>.
    </p>

    {{#if data.receivingPdfUrl}}
    <p>
        Receiving Form: <a href="{{data.receivingPdfUrl}}">Download Receiving Form</a>
    </p>
    {{/if}}

    <p>"Ensuring timely operations is the only source of growth"</p>
    <br />
    Approved by <br />
    {{data.tlName}}
</div>
