<div>
    <p>Dear {{data.requestedBy}},</p>

    <p>The request for Fixed Deposit Receipt (FDR) creation has been {{data.status}}</p>
    <ul>
        {{#if data.issueDate}}<li>FDR Date: {{data.issueDate}}</li>{{/if}}
        {{#if data.fdrNo}}<li>FDR No: {{data.fdrNo}}</li>{{/if}}
        <li>Beneficiary Name: {{data.beneficiaryName}}</li>
        <li>Payable At: {{data.payableAt}}</li>
        <li>Amount: {{data.amountFormatted}}</li>
    </ul>
    {{#if data.fdrImage}}
    <p>Soft copy of the FDR: <a href="{{data.fdrImage}}">Download FDR</a></p>
    {{/if}}
    {{#if data.courierRequestNo}}
    <p>Courier Request No: {{data.courierRequestNo}}</p>
    {{/if}}
    {{#if data.remarks}}
    <p>Remarks: {{data.remarks}}</p>
    {{/if}}

    <p>Best of luck for the tender.</p>
    <p>
        Regards,<br />
        Account Team
    </p>
</div>