<div>
    <p>Dear Accounts team,</p>

    <p>The following cheque has been handed over to you.</p>
    <ul>
        <li>Cheque no.: {{data.chequeNo}}</li>
        <li>Due date: {{data.dueDate}}</li>
        <li>Amount: {{data.amountFormatted}}</li>
    </ul>
    <p>Soft copy of Cheque (both sides): <a href="{{data.softCopyCheque}}">Click here to view</a></p>
    <p>Receiving of the cheque handed over: <a href="{{data.receivingCheque}}">Click here to view</a></p>

    <p>The FDR is required in {{data.timeLimit}} hours.</p>

    <p>Please submit the request to the Bank using the details below:</p>
    <ul>
        <li>Beneficiary Name: {{data.beneficiaryName}}</li>
        <li>Payable at: {{data.payableAt}}</li>
        <li>Amount: Rs. {{data.amountFormatted}}</li>
    </ul>

    <p>Please courier the FDR to the address below keeping sufficient margin for the courier delivery time to ensure the FDR reaches before the due date and time </p>
    <p>and share the SOFT COPY of the FDR and the Docket slip with us on time using the <a href="{{data.link}}">Accounts Form (FDR)</a>.</p>
    <p>Courier Address:</p>
    <pre>{{data.courierAddress}}</pre>

    <p>Please attach the covering letter with the FDR and courier it.</p>

    <p>"Ensuring timely operations is the only source of growth"</p>

    <p>
        Regards,<br />
        Sunil,<br />
        Approved by Management
    </p>
</div>