<div>
    <p>Dear Accounts Team,</p>

    <p>
        Please make the following payment against {{data.purpose}}.
    </p>
    <ul>
        <li><b>Payment gateway: {{data.portal}}</b></li>
        {{#if data.tenderNo}} 
            <li>Tender No. {{data.tenderNo}}</li>
        {{/if}}
        {{#if data.tenderName}} 
            <li>Project Name {{data.tenderName}}</li>
        {{/if}}
        <li><b>Amount: {{data.amount}}</b></li>
        <li>Net Banking Available: {{data.netbanking}}</li>
        <li>Debit Card allowed: {{data.debit}}</li>
        <li><b>Due Date and Time: {{data.dueDate}}</b></li>
    </ul>
    <p>
        Please make the payment before the due date and time and share the UTR with us on time using the <a href="{{data.link}}">link</a>.
    </p>
    <p>"Ensuring timely operations is the only source of growth"</p>
    Approved by,<br>
    {{data.tlName}}
</div>
