<div>
    <p>Dear {{data.clientName}},</p>

    <p>Our Company, M/s. Volks Energie Pvt. Ltd. is bidding for
        {{data.tenderNo}}, due on
        {{data.dueDate}}.</p>

    <p>
        Please find attached the soft copy of the physical documents to be submitted. We have couriered the documents via
        {{data.courierProvider}}, against docket no.
        {{data.docketNo}}
    </p>

    <p>Expected Delivery time is {{data.deliveryTime}}</p>

    <p>Also, attach the Docket slip for the courier, so that the courier can be tracked and is not lost in transit.</p>

    <p><b>Best Regards,</b><br />
        {{data.tenderExecutive}}
    </p>

</div>
