<div>
    <p>Dear {{data.tenderExecutive}},</p>

    <p>The EMD for {{data.tenderName}} (Tender No: {{data.tenderNo}}) paid via {{data.paymentInstrumentType}} ({{data.portalName}}) has been received back to our Bank Account.</p>

    <p>Return Details:</p>
    <ul>
        <li>Return Transfer Date: {{data.returnTransferDate}}</li>
        <li>Return UTR: {{data.returnUtr}}</li>
    </ul>

    <p>Please stop the follow-up if initiated via TMS.</p>

    <p>Regards,</p>
    <p>{{data.senderName}},</p>
    <p>Accounts team.</p>
</div>