<div>
    <p>Dear {{data.tenderExecutive}},</p>

    <p>The {{data.paymentInstrument}} payment request for tender no. {{data.tenderNo}} has been returned via Bank Transfer.</p>

    <p>Return Details:</p>
    <ul>
        <li>Return Transfer Date: {{data.returnTransferDate}}</li>
        <li>Return UTR: {{data.returnUtr}}</li>
    </ul>

    <p>Please follow up with the accounts team for further details.</p>

    <p>Regards,</p>
    <p>{{data.senderName}},</p>
    <p>Accounts team.</p>
</div>