<div>
    <p>Dear Team,</p>

    <p>A new tender has been identified and is awaiting allocation to a Tender Executive.</p>

    <ul>
        <li>Project Name: {{data.tenderName}}</li>
        <li>Tender is to be bid on: {{data.website}}</li>
        <li>Tender ID: {{data.tenderNo}}</li>
        <li>Due Date & Time: {{data.dueDate}}</li>
        <br />
        <li>Tender Value: {{data.tenderValue}}</li>
        <li>Tender Fees: {{data.tenderFees}}</li>
        <li>EMD: {{data.emd}}</li>
        <li>Remarks: {{data.remarks}}</li>
    </ul>

    <p>The tender documents are attached to this mail. Please note that the
        <b>timer for Tender Executive will start only after the allocation of the tender</b>. Once allocated, the concerned TE will be responsible for completing the Tender Info
        Sheet and seeking approval from the team leader.</p>

    <p>We request prompt allocation so that the bidding process can begin well before the deadline. Our goal remains to ensure all tenders are bid at least 48 hours prior to the
        due date.</p>

    <p>"Each new tender is an opportunity for growth"</p>

    <p>
        <b>Regards,</b><br />
        {{data.coordinator}}<br />
        Volks Energie Pvt. Ltd.
    </p>
</div>
