<div>
    <p>Dear Sir,</p>
    <p>
        This is to inform you that the tender for {{data.tender_name}} has been <b>cancelled</b> after the bidding. 
        {{!-- Tender Details :
        Tender Name : {{data.tender_name}}
        Tender Number : {{data.tender_no}} --}}
        View Tender : {{data.tender_link}}
    </p>
    {{#if data.final_screenshot_url}}
    <p>
        Screenshot:
        <a href="{{data.final_screenshot_url}}" target="_blank" style="color: #0066cc; text-decoration: underline;">
            {{data.final_screenshot_name}}
        </a>
    </p>
    {{else}}
    <p>No screenshot available.</p>
    {{/if}}
        <li>
            {{#if data.reason}}
            Reason For Tender Cancellation : {{data.reason}}
            {{/if}}
        </li>
    </ul>
    <p>
        Best of luck for the next Tender.
    </p>
    <p>
        Regards,<br />
        Team Leader<br />
        Volks Energie Pvt. Ltd.
    </p>
</div>
