<div>
    <p>Dear {{data.te}},</p>

    <p>The TQ for {{data.tender_name}} ({{data.tender_no}}) has been qualified.</p>

    <p>The Tender due date and time is {{data.dueDate}}.</p>

    <p>"We leverage our team work to create results."</p>

    <p>Best Regards,<br />{{data.coordinator}}</p>
</div>
