<div>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
    <p>Dear {{teamMember}},</p>

    <p>Please follow up with the concerned person(s) of
        {{organizationName}}
        for
        {{followUpFor}}.</p>

    {{#if comment}}
        <p><b>Comment: </b>
            {{comment}}
        </p>
    {{/if}}

    <p>Initiate the manual or auto follow-up and update the status using the form link below or your dashboard.</p>

    <a href="{{formLink}}">Form Link</a>

    <p>
        <b>Best Regards,</b>
        <br />{{followUpInitiator}}
    </p>
</div>