<div>
    <p>Dear {{name}},</p>
    <p>The status of the Tender no. {{tenderNo}}, tender name {{projectName}}, is {{status}}. Please initiate the process of releasing the EMD, Rs. {{amount}} submitted against the tender. The details of the EMD submitted are as follows:</p>
    <ul>
        <li>Date: {{date}}</li>
        <li>UTR no.: {{utr}}</li>
        <li>Amount: Rs. {{amount}}</li>
    </ul>
    <p>Please transfer the amount to the below-mentioned account details:</p>
    <ul>
        <li>Account Name: Volks Energie Pvt. Ltd.</li>
        <li>Account No.: 003084600002011</li>
        <li>IFSC Code: YESB0000030</li>
    </ul>
    <p>Also please find the Cancelled cheque and the bank-approved mandate form as reference.</p>
    <p>Best Regards,<br />Accounts team,<br />Volks Energie Pvt. Ltd</p>
</div>
